<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info" >
    <div class="panel-heading">
      <div class="panel-title">Login</div>
    </div>

    <div class="panel-body">
      <%= render 'login_form' %>
    </div>
  </div>
</div>
